body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header styling */

header {
  background-color: #ffd24d;
  box-shadow: 0 2px 5px #d1d1d1;
}

header h1 {
  color: white;
  margin: 0;
  padding: 15px 25px;
}

/* Note */

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #d1d1d1;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note h2 {
  font-size: 1.1em;
  margin: 2px 0;
}

.note p {
  font-size: 1.1em;
  margin: 5px 0;
}

/* Footer styling */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #d1d1d1;
}